<app-header></app-header>
<div class="container mt-5">
    <form role="form" (ngSubmit)="registro()" [formGroup]="formulario" id="formulario">
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="AnteriorPassword" class="form-control" placeholder="Contraseña anterior" value="">
            <small class="text-danger w-100 d-block" *ngIf="controlValido('AnteriorPassword', 'required')" [class.is-invalid]="controlValido('AnteriorPassword', 'required')">
                Contraseña anterior es requerida
             </small>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="NuevoPassword" class="form-control" placeholder="Contraseña nueva" value="">
            <small class="text-danger w-100 d-block" *ngIf="controlValido('NuevoPassword', 'required')" [class.is-invalid]="controlValido('NuevoPassword','required')">
                Contraseña es requerida
             </small>
            <small class="text-danger w-100 d-block" *ngIf="controlValido('NuevoPassword', 'igual')" [class.is-invalid]="controlValido('NuevoPassword','igual')">
                Contraseña nueva no puede igual a la anterior
             </small>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="ConfirmarPassword" class="form-control" placeholder="Confirmar contraseña">
            <small class="text-danger w-100 d-block" *ngIf="controlValido('ConfirmarPassword', 'noIgual')" [class.is-invalid]="controlValido('ConfirmarPassword','noIgual')">
                Contraseña no coincide
             </small>
        </div>

        <button type="submit" class="btn btn-primary">Cambiar</button>
    </form>
</div>