<div id="eventos" *ngIf="eventos.length > 0" class="carousel slide vertical m-0" data-ride="carousel" data-pause="hover">
    <!--<ol class="carousel-indicators">
        <li *ngFor="let evento of eventos; let i = index" [class.active]="i == 0" data-target="#eventos" [attr.data-slide-to]="i"></li>

    </ol>-->
    <div class="carousel-inner">
        <div class="carousel-item" style="border-radius: 25px 25px 0 0; height: 4.25rem;" [class.active]="i == 0" *ngFor="let evento of eventos; let i = index">

            <div class="carousel-caption p-0 m-0 font-weight-bold" style="bottom: 0.5rem;">

                <p class="m-0"> {{ evento.EventoActual == "no" ? "Próximamente" : "" }} </p>

                <p class="m-0">
                    <span>  {{ evento.Nombre | lowercase }} </span>
                </p>
                <p class="m-0">
                    <span style="text-transform: capitalize;"> {{ fechaTexto( evento ) }} </span>
                </p>
                <!-- <p> <small> {{ evento.TipoEvento }} </small> </p>-->

            </div>


        </div>
    </div>
    <a class="carousel-control-prev" href="#eventos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#eventos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>