<app-header></app-header>
<div class="container mt-5">
    <form role="form" (ngSubmit)="registro()" [formGroup]="formulario" id="formulario">
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" autocomplete="off" formControlName="CorreoVisitante" class="form-control" placeholder="Correo visitante" [class.is-invalid]="controlValido('CorreoVisitante')">
            <small class="text-danger w-100 d-block" *ngIf="controlValido('CorreoVisitante')">
               Correo electrónico es requerido
            </small>
        </div>
        <button type="submit" #btnEnviar class="btn btn-primary">Enviar</button>
    </form>
</div>