<app-header [habilitarBusqueda]="participantesActivo" (OnBuscar)="buscarPabellon($event)"></app-header>

<!--<app-button (OnBtnClick)="bntAnterior($event)" [btnConfig]="{ tipo : 'anterior', classes: [ ], container : '#mainNav .container' }"></app-button>-->

<div class="position-relative canvas-unity mx-auto">
    <app-canvas [unityObjeto]="appConfig.unityObjeto.pabellon" [autoWidth]="false" (thenEvent)="canvasCargado($event)"></app-canvas>
    <app-button (OnBtnClick)="bntAnterior($event)" [btnConfig]="{ tipo: 'anterior', classes : 'posIzquierda' }"></app-button>

    <div class="container pabellon-contenedor pl-5 pr-5 h-100 d-flex" *ngIf="pabellonesActivo">
        <div class="row w-100 pl-5 pr-5 align-content-center">
            <div class="col-12">
                <div id="portfolio">
                    <div class="container-fluid p-0">
                        <div class="row w-100" [@listAnimation]="pabellones.length" *ngIf="pabellones.length > 0">
                            <ng-template let-item let-i="index" ngFor [ngForOf]="pabellones">
                                <div class="col-4 pabellon mb-3">
                                    <div (click)="seleccionarPabellon_Participantes( item.IdPabellon )" class="image_component invert position-relative cursor-pointer" style="background-color: rgba(255, 255, 255, 0.4);">
                                        <img class="img-fluid" [src]="item.logo_pabellon">
                                        <div class="middle w-100">
                                            <div class="text" style="font-size: 1.5rem !important;"> {{ item.Nombre_Pabellon | uppercase }} </div>
                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pabellon-contenedor pl-5 pr-5 h-100 d-flex " *ngIf="participantesActivo">
        <div class="row w-100 align-content-center">
            <div class="col-12">
                <div class="container">
                    <div class="row w-100 mx-auto pl-2 pr-2" style="background-color: rgba(255, 255, 255, 0.493);" [@listAnimation]="participantes.length" *ngIf="participantes.length > 0">
                        <ng-template let-item let-i="index" ngFor [ngForOf]="participantes">
                            <div class="col-2 text-center">
                                <div class="mt-4">
                                    <a [routerLink]="['/stand',item.IdEstand, item.IdParticipante, selectedPabellon, selectedFeria ]">
                                        <img [title]="item.Nombre_Participante" [src]="item.Logo_Participante" class="img-fluid rounded-circle" style=" padding:20px">
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row" *ngIf="pabellonesActivo">
    <div class="col-8 mx-auto">
        <app-paginacion [totalPaginas]="pabellonTotalPaginas" [config]="{ class:  'd-flex align-content-center', siguienteTexto: 'Pabellón siguiente', anteriorTexto: 'Pabellón anterior' }" [paginaActual]="paginaPabellon" (OnPagina)="onPaginaPabellon($event)"></app-paginacion>
    </div>
</div>
<div class="row" *ngIf="participantesActivo">
    <div class="col-8 mx-auto">
        <app-paginacion [totalPaginas]="participanteTotalPaginas" [config]="{ class:  'd-flex align-content-center' }" [paginaActual]="paginaParticipante" (OnPagina)="onPaginaParticipante($event)"></app-paginacion>
    </div>
</div>