<div class="position-relative w-100 h-100" style="cursor: pointer;background-color: #63a1d3;">
    <div class="position-relative w-100 text-center">
        <img (click)="bienvenidoClick()" src="./assets/img/portada2.1_Mesa de trabajo 1.jpg" class="img-fluid mx-auto mb-4" alt="">
        <!-- <div class="position-absolute w-100" style="top:10%;left:0%;right:0;bottom: 0;z-index:99;">
            <img class="img-fluid" style="width: 50%;" src="./assets/img/texto de inicio.png" alt="">
        </div>-->

        <app-audio class="mx-auto text-dark"></app-audio>
    </div>

</div>