<div class="position-relative w-100 h-100" style="cursor: pointer;background-color: #63a1d3;">
    <div class="position-relative w-100 text-center">
        <img src="./assets/img/Fachadav2+altav6.jpg" class="img-fluid mx-auto mb-4" style="opacity: 0.35;" alt="">
        <div (click)="bienvenidoClick()" class="position-absolute w-100 d-flex align-items-center" style="top:10%;left:0%;right:0;bottom: 0;z-index:99;">
            <p class="text-white text-center w-100" style="font-size: 3.2rem;font-family: 'Lato';">
                BIENVENIDO (A)
                <br/> EXPOMYPE - VIRTUAL 2021
            </p>
        </div>
        <app-audio class="mx-auto text-dark"></app-audio>
    </div>
</div>