<div class="position-relative m-5" (click)="bienvenidoClick()" style="cursor: pointer;">
    <div class="position-relative w-100 text-center">
        <div class="position-absolute w-100 h-100" style="top:0;left:0;z-index: 1;">
        </div>
        <img src="./assets/img/portada2.1_Mesa de trabajo 1.jpg" class="img-fluid mx-auto" alt="">
        <!-- <div class="position-absolute w-100" style="top:10%;left:0%;right:0;bottom: 0;z-index:99;">
            <img class="img-fluid" style="width: 50%;" src="./assets/img/texto de inicio.png" alt="">
        </div>-->
    </div>

</div>