<app-header (OnBtnAtras)="bntAnterior($event)"></app-header>
<!--<app-button [btnConfig]="{ tipo : 'anterior', classes: [  ], container : '#mainNav .container' , routerLink: ['/inicio'] }"></app-button>-->
<div class="position-relative canvas-unity mx-auto">

    <app-canvas (clickEvent)="canvasClick($event)" [autoWidth]="false" [unityObjeto]="appConfig.unityObjeto.recepcion" (thenEvent)="canvasCargado($event)"></app-canvas>
    <app-login (afterLogin)="afterLogin()" [timeShow]="5" [right]="'0'" [top]="'0'"></app-login>
    <div *ngIf="lsService.isAuthenticated()" class="escalaGris col-3 p-0" style="position: absolute;bottom: 0; left: 0;">
        <div class="row no-gutters m-0">
            <div (click)="collapse('ferias', 'ferias-estado')" class="col-12 text-center bg-white-transparent" style="border-radius: 0 33px 0 0;">
                <div class="img-scale-animation-5">
                    <!--<span class="w-100 icono-sort"> <i class="fa fa-caret-up fa-3x" id="ferias-estado" aria-hidden="true"></i> </span>--->
                    <div class="icono-flecha arriba abajo mb-1 mt-1 mx-auto" id="ferias-estado"></div>
                    <p class="p-0 m-0 font-weight-bold h4">FERIAS</p>
                </div>

                <!-- <img (click)="collapse('ferias')" src="./assets/img/caja de ferias.png" class="img-fluid" alt="">-->
            </div>
        </div>
        <div class="row no-gutters scrollable bg-white-transparent ml-0 mr-0  collapse" id="ferias">
            <div class="col-12 p-0">
                <div id="modal-container" class="w-100 no-gutters">
                    <div *ngFor="let item of ferias" class="thumb col-lg-12">
                        <a [routerLink]="['/pabellones', item.IdFeria]" class="cursor-pointer">
                            <img class="w-100" src="{{ item.Logo }}"><br>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="lsService.isAuthenticated()" class="bg-white-transparent col-3 col-xl-3 col-md-2 col-lg-3 col-sm-2" style="position: absolute;bottom: 0; right: 0;border-radius: 33px 0 0 0;">
        <div class="row no-gutters m-0">
            <div (click)="collapse('ruedaAnfiteatro', 'ruedaAnfiteatro-estado')" class="col-12 text-center">
                <div class="img-scale-animation-5">
                    <div class="icono-flecha abajo mb-1 mt-1 mx-auto" id="ruedaAnfiteatro-estado"></div>
                    <p class="p-0 m-0 font-weight-bold h4">NEGOCIOS</p>

                </div>
                <!-- <img (click)="collapse('ferias')" src="./assets/img/caja de ferias.png" class="img-fluid" alt="">-->
            </div>
        </div>
        <div class="row no-gutters show ml-0 mr-0" id="ruedaAnfiteatro">
            <div class="col-10 mx-auto p-0">
                <div class="row no-gutters">
                    <div class="col-6 p-0">
                        <app-imagen-button [btnConfig]="{text: 'Anfiteatro', routeLink: ['/anfiteatro'], 
                            img: { src: 'assets/img/Iconos-12_anfiteatro.png', class: 'img-fluid' } }">
                        </app-imagen-button>
                    </div>
                    <div class="col-6 p-0">
                        <app-imagen-button [btnConfig]="{text: ' Rueda de negocios', routeLink: ['/rueda-negocios'], 
                            img: { src: 'assets/img/Iconos-13_rueda de negocios.png',  class: 'img-fluid' } }">
                        </app-imagen-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>