<div id="login" *ngIf="!lsService.isAuthenticated()" class="d-flex justify-content-center h-100 hidden" [ngStyle]="{ 'position': 'absolute', 'top': top , 'z-index': '9999', 'right': right, width: '18%'}">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" id="formulario" class="h-100">
        <div class="card" style="border-radius: 10px;background: rgb(0,16,59);
        background: linear-gradient(356deg, rgba(0,16,59,1) 19%, rgba(0,84,192,1) 88%);">
            <div class="card-header text-center pt-5">

                <h5 class="text-danger"></h5>
                <h3 style="color:white">Registro</h3>

                <div class="d-flex justify-content-end social_icon hidden">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" style="color: #f29100;"></i></span>
                    </div>
                    <input type="text" autocomplete="off" formControlName="correoVisitante" name="CorreoVisitante" class="form-control" placeholder="Email">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock" style="color: #f29100;"></i></span>
                    </div>
                    <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="row align-items-center remember text-center" style="color:white">
                    <div class="col mx-auto">
                        <input #recordarme type="checkbox"> Recordarme
                    </div>

                </div>
                <div class="form-group text-center mt-2">
                    <input type="submit" name="login" value="ENTRAR" class="btn btn-light login_btn">
                </div>

            </div>
            <hr style="background-color: white; width: 80%;" class="mx-auto">
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <span style="color: white;">¿No tiene Cuenta?</span> &nbsp; <a href="#" [routerLink]="['/registro']" style="color: #f29100;"> Registro</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a [routerLink]="['/recuperarPassword']" style="color: #f29100;">¿Olvido su contraseña?</a>
                </div>
            </div>
        </div>
    </form>
</div>