<div style="font-family: 'Fira Sans';">
    <div class="form-group">
        <label class="text-conamype font-weight-bold">Telefono:</label> <br/>
        <label class="">( 503 ) 2592-9000 y (503) 2592-9100</label>
    </div>
    <div class="form-group">
        <label class="text-conamype font-weight-bold">Whatapp:</label> <br/>
        <label class="">( 503 ) 7074-7074</label>
    </div>

    <div class="form-group">
        <label class="text-conamype font-weight-bold">Correo Electrónico:</label> <br/>
        <label class=""> conamype@conamype.gob.sv </label>
    </div>
    <div class="form-group">
        <label class="text-conamype font-weight-bold">Horarios de atención:</label> <br/>
        <div>

            <div class="row">
                <div class="col-3">Lunes:</div>
                <div class="col-9">7:30 a.m. - 3:30 p.m.</div>
            </div>
            <div class="row">
                <div class="col-3">Martes:</div>
                <div class="col-9"> 7:30 a.m. - 3:30 p.m.</div>
            </div>
            <div class="row">
                <div class="col-3">Miércoles:</div>
                <div class="col-9"> 7:30 a.m. - 3:30 p.m.</div>
            </div>
            <div class="row">
                <div class="col-3">Jueves:</div>
                <div class="col-9"> 7:30 a.m. - 3:30 p.m.</div>
            </div>
            <div class="row">
                <div class="col-3">Viernes:</div>
                <div class="col-9"> 7:30 a.m. - 3:30 p.m.</div>
            </div>
            <div class="row">
                <div class="col-3">Sábado:</div>
                <div class="col-9"> CERRADO</div>
            </div>
            <div class="row">
                <div class="col-3">Domingo:</div>
                <div class="col-9"> CERRADO</div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    Cerrando al medio día
                </div>
            </div>
            <label for=""> .</label>
        </div>
    </div>
    <div class="form-group">
        <label class="text-conamype font-weight-bold"> Dirección: </label> <br>
        <label> 19 Avenida Norte y Alámadea Juan Pablo II, San Salvador, El Salvador  </label>
    </div>
</div>