<div style="font-family: 'Fira Sans';">
    <div class="mb-2">
        <h3 class="text-conamype text-center">
            ¿Quienes somos?</h3>
        <p class="text-justify pl-5 pr-5">
            En CONAMYE entendemos que una visión apropiada de la micro y pequeña empresa para el año 2024 debe orientarse al logro de una MYPE dinámica, integrada, participativa y con impacto en la economía territorial, nacional e internacional. Que cada Unidad Económica
            sea competitiva, articulada productivamente, cooperativa en términos empresariales, organizada y representada ante el sistema institucional de CONAMYPE, para incidir en la construcción de un entorno de políticas públicas y regulatorio favorable
            a sus intereses en materia de desarrollo.
        </p>
    </div>
    <div>
        <div class="row">
            <div class="col float-left text-white" style="background-color: #3d84c6;">
                <h3 class="text-center p-3">Misión</h3>
                <p class="p-2 text-justify">
                    "Formentar, proteger y desarrollar micro y pequeñas empresas protagonistas, fortaleciendo tanto su capacidad transformadora como su excelencia, para que se integren e incidan en el desarrollo económico nacional y territorial, de forma inclusiva, sostenible
                    y justa"
                </p>
            </div>
            <div class="col-1"></div>
            <div class="col  float-right text-white" style="background-color: #8C8C8C;">
                <h3 class="text-center p-3">Visión</h3>
                <p class="p-2 text-justify">
                    "Ser una entidad estatal catalizadora de la transformación del tejido económico, productivo y social mediante la provisión de servicios de valor para la creación y desarrollo competitivo de la micro y pequeña empresa "
                </p>
            </div>
        </div>


    </div>
</div>